body {
  font-family: sans-serif;
  min-width: 500px;
}

button {
  border: none;
  cursor: pointer;
}

.url {
  margin-right: 15px;
  display: inline-block;
}

.time {
  padding: 4px 5px;
  width: 30px;
}

#user_pref {
  padding-left: 20px;
  font-size: 15px;
}

.remove_btn {
  padding: 5px 15px;
  letter-spacing: 1px;
  border: 2px solid red;
  transition: 0.3s;
  background: white;
  color: red;
  margin-left: 15px;
}

.remove_btn:hover {
  background: red;
  color: white;
}

.show_success_msg {
  background: green !important;
  color: white !important;
  border: 2px solid green !important;
}

#add,
#save {
  padding: 8px 20px;
  letter-spacing: 1px;
  border: 2px solid #2b84cd;
  transition: 0.3s;
  background: white;
  color: #2b84cd;
}

#save:hover,
#add:hover {
  background: #2b84cd;
  color: white;
}

.add_website_section {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.add_website_section > input {
  padding-left: 5px;
}
